In [19]:
import numpy as np 
import pandas as pd

In [20]:
# Load the data into a DataFrame
df = pd.read_csv('correct_twitter_201904.tsv', sep='\t', dtype=str)

# Display the rows of the DataFrame to understand its structure
df

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88032,1122977274352082944,britney_201904,2022-02-28 09:47:43.066500-05:00,2022-02-28 09:47:43.066500-05:00,True,True,False,False,False,False,...,1122975837500989440,2934938957,STORMISKELLYBAG,13773,NaN,NaN,NaN,NaN,NaN,NaN
88033,1122977257969127429,britney_201904,2022-02-28 09:47:43.066605-05:00,2022-02-28 09:47:43.066605-05:00,True,True,False,False,False,False,...,1118942889785085958,613702825,keanuorange,1422,NaN,NaN,NaN,NaN,NaN,NaN
88034,1122977009347518466,britney_201904,2022-02-28 09:47:43.066708-05:00,2022-02-28 09:47:43.066708-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88035,1122976878812442626,britney_201904,2022-02-28 09:47:43.066810-05:00,2022-02-28 09:47:43.066810-05:00,True,True,False,False,False,False,...,1122898327895519233,846864187015888896,TheBlastNews,11533,NaN,NaN,NaN,NaN,NaN,NaN
88036,1122976855647240203,britney_201904,2022-02-28 09:47:43.066921-05:00,2022-02-28 09:47:43.066921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'end': 65, 'url': 'https://t.co/DcqjuqMJDK',...",NaN,NaN

In [21]:
# Display the first few rows of the DataFrame to understand its structure
df.head()

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# to get the information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88037 entries, 0 to 88036
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             88037 non-null  object
 1   event                          88037 non-null  object
 2   ts1                            88037 non-null  object
 3    ts2                           88037 non-null  object
 4   from_stream                    88037 non-null  object
 5   directly_from_stream           88037 non-null  object
 6   from_search                    88037 non-null  object
 7   directly_from_search           88037 non-null  object
 8   from_quote_search              88037 non-null  object
 9   directly_from_quote_search     88037 non-null  object
 10  from_convo_search              88037 non-null  object
 11  directly_from_convo_search     88037 non-null  object
 12  from_timeline_search           88037 non-null  object
 13  directly_from_timeline_search  88037 non-null  object
 14  text                           88037 non-null  object
 15  lang                           88037 non-null  object
 16  author_id                      88037 non-null  object
 17  author_handle                  88037 non-null  object
 18  created_at                     88037 non-null  object
 19  conversation_id                88037 non-null  object
 20  possibly_sensitive             88037 non-null  object
 21  reply_settings                 88037 non-null  object
 22  source                         88037 non-null  object
 23  author_follower_count          88037 non-null  object
 24  retweet_count                  88037 non-null  object
 25  reply_count                    88037 non-null  object
 26  like_count                     88037 non-null  object
 27  quote_count                    88037 non-null  object
 28  replied_to                     6675 non-null   object
 29  replied_to_author_id           3850 non-null   object
 30  replied_to_handle              3684 non-null   object
 31  replied_to_follower_count      3850 non-null   object
 32  quoted                         2052 non-null   object
 33  quoted_author_id               1776 non-null   object
 34  quoted_handle                  1629 non-null   object
 35  quoted_follower_count          1776 non-null   object
 36  retweeted                      51529 non-null  object
 37  retweeted_author_id            51529 non-null  object
 38  retweeted_handle               51529 non-null  object
 39  retweeted_follower_count       51529 non-null  object
 40  mentioned_author_ids           0 non-null      object
 41  mentioned_handles              0 non-null      object
 42  hashtags                       12162 non-null  object
 43  urls                           41641 non-null  object
 44  media_keys                     16512 non-null  object
 45  place_id                       1021 non-null   object
dtypes: object(46)
memory usage: 30.9+ MB

In [23]:
# To drop the duplicate data
df.drop_duplicates()

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88032,1122977274352082944,britney_201904,2022-02-28 09:47:43.066500-05:00,2022-02-28 09:47:43.066500-05:00,True,True,False,False,False,False,...,1122975837500989440,2934938957,STORMISKELLYBAG,13773,NaN,NaN,NaN,NaN,NaN,NaN
88033,1122977257969127429,britney_201904,2022-02-28 09:47:43.066605-05:00,2022-02-28 09:47:43.066605-05:00,True,True,False,False,False,False,...,1118942889785085958,613702825,keanuorange,1422,NaN,NaN,NaN,NaN,NaN,NaN
88034,1122977009347518466,britney_201904,2022-02-28 09:47:43.066708-05:00,2022-02-28 09:47:43.066708-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88035,1122976878812442626,britney_201904,2022-02-28 09:47:43.066810-05:00,2022-02-28 09:47:43.066810-05:00,True,True,False,False,False,False,...,1122898327895519233,846864187015888896,TheBlastNews,11533,NaN,NaN,NaN,NaN,NaN,NaN
88036,1122976855647240203,britney_201904,2022-02-28 09:47:43.066921-05:00,2022-02-28 09:47:43.066921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'end': 65, 'url': 'https://t.co/DcqjuqMJDK',...",NaN,NaN

In [24]:
df.drop(columns=['mentioned_author_ids', 'mentioned_handles'])

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,quoted_handle,quoted_follower_count,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,NaN,NaN,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,NaN,NaN,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,NaN,NaN,1130917791752757254,3042894016,Iesbwian,22760,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88032,1122977274352082944,britney_201904,2022-02-28 09:47:43.066500-05:00,2022-02-28 09:47:43.066500-05:00,True,True,False,False,False,False,...,NaN,NaN,1122975837500989440,2934938957,STORMISKELLYBAG,13773,NaN,NaN,NaN,NaN
88033,1122977257969127429,britney_201904,2022-02-28 09:47:43.066605-05:00,2022-02-28 09:47:43.066605-05:00,True,True,False,False,False,False,...,NaN,NaN,1118942889785085958,613702825,keanuorange,1422,NaN,NaN,NaN,NaN
88034,1122977009347518466,britney_201904,2022-02-28 09:47:43.066708-05:00,2022-02-28 09:47:43.066708-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88035,1122976878812442626,britney_201904,2022-02-28 09:47:43.066810-05:00,2022-02-28 09:47:43.066810-05:00,True,True,False,False,False,False,...,NaN,NaN,1122898327895519233,846864187015888896,TheBlastNews,11533,NaN,NaN,NaN,NaN
88036,1122976855647240203,britney_201904,2022-02-28 09:47:43.066921-05:00,2022-02-28 09:47:43.066921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'end': 65, 'url': 'https://t.co/DcqjuqMJDK',...",NaN,NaN

In [25]:
# Convert Data Types
df['ts1'] = pd.to_datetime(df['ts1'])  # Convert ts1 to datetime

# How many tweets were posted containing the term on each day?

In [26]:
def tweets_per_day(term):
    df1 = df[df['event'].str.contains(term, case=False, na=False)]
    tweets_no_day = df1.groupby(df1['ts1'].dt.date).size()
    return tweets_no_day

if __name__ == "__main__":
    term = 'Britney'  

    print("Tweets per day:")
    print(tweets_per_day(term))

Tweets per day:
ts1
2022-01-04     7644
2022-02-28    80393
dtype: int64

# How many unique users posted a tweet containing the term?

In [27]:
def unique_users(term):
    df2 = df[df['event'].str.contains(term, case=False, na=False)]
    unique_user_count = df2['retweeted_author_id'].nunique() 
    return unique_user_count
if __name__ == "__main__":
    term = 'Britney' 
    print("Unique users:")
    print(unique_users(term))

Unique users:
2750

# Where (in terms of place IDs) did the tweets come from?

In [12]:
def tweets_by_place(term):
    filtered_df = df[df['event'].str.contains(term, case=False, na=False)]
    tweets_by_place = filtered_df['place_id'].value_counts()
    return tweets_by_place
if __name__ == "__main__":
    term = 'Britney' 
    print("Tweets by place ID:")
    print(tweets_by_place(term))

Tweets by place ID:
place_id
3b77caf94bfc81fe    45
1ef1183ed7056dc1    17
01a9a39529b27f36    13
1c69a67ad480e1b1    11
68e019afec7d0ba5    11
                    ..
dce44ec49eb788f5     1
ca8520ce19e71fd7     1
b077585758242faa     1
7d893ca2441b0c21     1
19dd8d7a921df131     1
Name: count, Length: 598, dtype: int64

# What times of day were the tweets posted at?

In [13]:
def tweets_by_time(term):
    filtered_df = df[df['event'].str.contains(term, case=False, na=False)]
    filtered_df['hour'] = filtered_df['ts1'].dt.hour  # Assuming ts1 is the timestamp column
    tweets_by_hour = filtered_df['hour'].value_counts().sort_index()
    return tweets_by_hour
if __name__ == "__main__":
    term = 'Britney'
    print("Tweets by time:")
    print(tweets_by_time(term))

Tweets by time:
hour
9     80393
15     7644
Name: count, dtype: int64

# Which user posted the most tweets containing the term?

In [14]:
def most_active_user(term):
    filtered_df = df[df['event'].str.contains(term, case=False, na=False)]
    most_active = filtered_df['retweeted_author_id'].value_counts().idxmax()  # or a suitable column for unique users
    return most_active
if __name__ == "__main__":
    term = 'Britney'
    print("Most active user:")
    print(most_active_user(term))

Most active user:
16331010

# How many likes did tweets containing the term get, on average

In [31]:
# Convert 'retweeted_follower_count' to numeric and fill NaN values with 0 also 'retweeted' column is numeric & fill nan with 0
df['retweeted_follower_count'] = pd.to_numeric(df['retweeted_follower_count'], errors='coerce').fillna(0)
df['retweeted'] = pd.to_numeric(df['retweeted'], errors='coerce').fillna(0)

df['hashtags'] = df['hashtags'].apply(lambda x: x if isinstance(x, list) else [])


# Calculate Hashtag Count
df['hashtag_count'] = df['hashtags'].apply(len)

def calculate_likes(row):
    return (row['retweeted'] * row['retweeted_follower_count']) + (row['hashtag_count'] * 10) + (row['mention_count'] * 5)

# Add the calculated 'likes' column
df['likes'] = df.apply(calculate_likes, axis=1)

def average_likes(term):
    filtered_df = df[df['event'].str.contains(term, case=False, na=False)]
    avg_likes = filtered_df['likes'].mean()
    return avg_likes
if __name__ == "__main__":
    term = 'Britney'  # Search term
    print("Average likes:")
    print(average_likes(term))

Average likes:
9.328858021024588e+23